@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Główna strona -->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Dowiedz się więcej o <a href="https://docs.microsoft.com/aspnet/core">tworzeniu aplikacji internetowych za pomocą ASP.NET Core</a>.</p>
</div>
