@page
@model PrivacyModel
@{
    ViewData["Title"] = "Prywatność";
}
<h1>@ViewData["Title"]</h1>


<!-- private web site -->
<p>Użyj tej strony, aby szczegółowo opisać politykę prywatności swojej witryny.</p>
<p>Użyj tej strony, aby szczegółowo opisać politykę prywatności swojej witryny.</p>